amqp==5.3.1
asgiref==3.10.0
billiard==4.2.2
celery==5.3.6
channels==4.3.1
channels_redis==4.3.0
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==4.2.3
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
h11==0.16.0
kombu==5.5.4
msgpack==1.1.2
packaging==25.0
prompt_toolkit==3.0.52
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
redis==7.0.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
uvicorn==0.35.0
vine==5.1.0
wcwidth==0.2.14
websockets==15.0.1
